{% extends 'admin/base.html.twig' %}

{% block title %}Modification de l'utilisateur n° {{ user.id }}{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <p><a href="{{ path('admin_user_index') }}" class="fil-arian">Utilisateurs</a> > Modifier un utilisateur</p>
        </div>

        <div class="row">
            <div class="col-10 mx-auto">
                <h1 class="my-5 text-center">Modification de l'utilisateur n° {{ user.id }}</h1>
                <div class="mx-auto alert alert-light clearfix">
                    {{ form_start(form)}}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary float-right">
                            <i class="fas fa-check"></i>
                            Enregistrer les modifications
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}