{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des utilisateurs</h1>

    <h2 class="mb-3">Administrateurs</h2>

    <table class="table table-striped">
        <thead>
            <tr class="bg-secondary">
                <th>Id</th>
                <th>Administrateur</th>
                <th>email</th>
                <th>Introduction</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            {% for user in admin.users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <img src="{{ user.picture }}" class="avatar avatar-mini mr-2" alt="Avatar de {{ user.fullName }}">
                        <span>{{ user.fullName }}</span>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.introduction }}</td>
                    <td>{{ user.description | raw }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_user_edit', {'id' : user.id}) }}" class="btn btn-primary mb-2">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <h2 class="mb-3">Utilisateurs</h2>

    <table class="table table-striped">
            <thead>
                <tr class="bg-secondary">
                    <th>Id</th>
                    <th>Utilistaeur</th>
                    <th>email</th>
                    <th>Introduction</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination.data %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <img src="{{ user.picture }}" class="avatar avatar-mini mr-2" alt="Avatar de {{ user.fullName }}">
                            <span>{{ user.fullName }}</span>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{user.introduction}}</td>
                        <td>{{ user.description | raw}}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_user_edit', {'id' : user.id}) }}" class="btn btn-primary mb-2">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{ path('admin_user_delete', {'id' : user.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        {{ pagination.display() }}
</div>
{% endblock %}
