{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-center">Inscrivez-vous</h1>

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
        <div class="row">
            <div class="col">
                <img src="{{ asset('images/image1.jpg') }}" class="img-fluid h-100" alt="">
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h3 class="alert-heading">Informations générales</h3>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.picture) }}
                </div>
                <div class="alert alert-light">
                    <h3 class="alert-heading">Mot de passe</h3>
                    <hr>
                    {{ form_row(form.hash) }}
                    {{ form_row(form.passwordConfirm) }}
                </div>

                <div class="alert alert-light">
                    <h3 class="alert-heading">Détails</h3>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}

                    <hr>
                    <p>Vous y êtes presque, confirmez votre inscription et rejoignez nous !</p>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-success my-4 float-right">
                            <i class="fas fa-check"></i>
                            Confirmez l'inscription
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}