{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ad.title}} !{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h1 class="text-center">Réservation</h1>
                <h2 class="h3 ad-title-book">Annonce : <em>{{ ad.title }}</em></h2>
                <hr>
                <p>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong>, dites nous tout, on s'occupe du reste !</p>

                {{ form_start(form) }}
                    <div class="alert">
                        <h2 class="h5">Disponibilité</h2>
                        <div class="row">
                            <div class="col">
                                {{form_row(form.startDate)}}
                            </div>
                            <div class="col">
                                {{form_row(form.endDate)}}
                            </div>
                        </div>
                        <hr>
                        <div class="btn-outline-dark bg-white btn-lg text-dark text-center" id="reserve">
                            <span id="days">0</span> nuit(s)
                            <p><span class="font-weight-bold">{{ad.price | number_format(2, ',', ' ')}} &euro; </span>par nuit</p>
                            <h3 class="h6 mt-2">Montant du séjour : <span id="amount"></span></h3>
                        </div>
                        <hr>
                        <h4 class="h6 mt-3">Commentaire</h4>
                        {{ form_widget(form.comment) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-3">Réserver</button>
                    </div>

                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    {# {{ encore_entry_script_tags('ad') }} #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvaibleDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });
            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });

        function calculateAmount(){
            // on chope les dates
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            // 18/O9/2018 => (\d+)\/(\d+)\/(\d{4})
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            if (startDate && endDate && startDate < endDate) {
                const DAY_TIME = 24 * 60 * 60 * 1000;
                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};

                $('#days').text(days);
                $('#reserve #amount').text(amount.toLocaleString('fr-FR')).append('&euro;');
            }
        }
    </script>
{% endblock %}